body {
  background-image: url("../images/newspaper0.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

/* a {
  color: #ffffff;
}

a:hover {
  background: #2a333c;
}

a:visited {
  color: #ffffff;
  font-weight: bold;
} */

.bg-nav {
  /* background: #629426; */
  background-color: rgba(109,155,56, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0;
    margin:0;
}

.btn-scrape {
  background: #2a333c;
}

.header {
  background: #2a333c;
  width: 20%;
  padding: 0;
}

.jumbotron {
  font-family: 'Abril Fatface', cursive;
  background-color: rgba(209,214,219, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
