body {
  background-image: url("../images/newspaper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  font-family: 'Quicksand', serif;
  position: relative;
  min-height: 100%;
  margin: 0;
}

.bg-nav {
  background-color: rgba(58,54,68, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0;
  margin:0;
}

.btn-scrape {
  background: #ecc51f;
  color: #3a3644;
  float: right;

}

.header {
  color: #ecc51f !important;
  font-weight:bolder;
  text-align: center;
  width: 20%;
  height: 100%;
  padding: 0;
}

.jumbotron {
  font-family: 'Abril Fatface', cursive;
  background-color: rgba(209,214,219, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-title {
  background: #62616a;
  color: #ecc51f;
}

.article-link {
  color: #ffffff;
  display: inline-block;
  width: 70%;
}

a:hover {
  color: #ffffff;
}
